<app-menu></app-menu>
<div *ngIf="product" class="component">
    <section class="heading">
        <span class="page-title font-weight-bold font-italic">[{{title}}]</span>
        <span>&nbsp;<a routerLink="/product/list">Return to List</a></span>
        <span style="float: right; padding-right: 30px; font-style:italic; font-weight: bold">Hello, {{loggedInUser.firstName}}</span>
    </section>
    <main class="single">
        <table class="table table-sm">
            <tr>
                <td>ID</td>
                <td>{{product.id}}</td>
            </tr>
            <tr>
                <td>Vendor:</td>
                <td>
                    <select [(ngModel)]="product.vendor" class="rounded" [compareWith]="compVendor">
                        <option *ngFor = "let vendor of vendors" [ngValue]='vendor'>{{vendor.name}}</option>
                    </select>
                    <span *ngIf='!product.vendor' style="color:red">*</span>
                </td>
            </tr>
            <tr>
                <td>Part Number:</td>
                <td>
                    <input [(ngModel)]="product.partNumber" class="rounded" type="text" maxlength="50">
                    <span *ngIf='!product.partNumber' style="color:red">*</span>
                </td>
               
            </tr>
            <tr>
                <td>Name:</td>
                <td>
                    <input [(ngModel)]="product.name" class="rounded" type="text" maxlength="150">
                    <span *ngIf='!product.name' style="color:red">*</span>
                </td>
                
            </tr>
            <tr>
                <td>Price:</td>
                <td><input [(ngModel)]="product.price" class="rounded" type="number"></td>
            </tr>
            <tr>
                <td>Unit:</td>
                <td><input [(ngModel)]="product.unit" class="rounded" type="text" maxlength="255"></td>
            </tr>
            <tr>
                <td>Photo Path:</td>
                <td><input [(ngModel)]="product.photoPath" class="rounded" type="text" maxlength="255"></td>
            </tr>
        </table>
    </main>
        <span *ngIf='!product.vendor || !product.partNumber || !product.name; else enabled'>
            <button (click)="save()" disabled class="btn btn-sm btn-primary">{{submitBtnTitle}}</button>
        </span>
        <ng-template #enabled>
            <span>
                <button (click)="save()" class="btn btn-sm btn-primary">{{submitBtnTitle}}</button>
        </span>
        </ng-template>
</div>