<app-menu></app-menu>
<section class="heading">
    <span class="page-title font-weight-bold font-italic">[{{title}}]</span>
    <a routerLink='/request/create'><img width='20' height='20' src='assets/add-icon.png' title='Add New'></a>
    <span style="float: right; padding-right: 30px; font-style:italic; font-weight: bold">Hello, {{loggedInUser.firstName}}</span>
</section>
<table *ngIf="requests" class="table table-sm table-striped">
    <thead>
        <tr>
            <th>User</th>
            <th>Description</th>
            <th>Justification</th>
            <th>Date Needed</th>
            <th>Status</th>
            <th>Total</th>
            <th>Submitted Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let request of requests">
            <td>{{ request.user.firstName }} {{ request.user.lastName }}</td>
            <td>{{ request.description }}</td>
            <td>{{ request.justification }}</td>
            <td>{{ request.dateNeeded }}</td>
            <td>{{ request.status }}</td>
            <td>{{ request.total }}</td>
            <td>{{ request.submittedDate }}</td>
            <td>
                <a routerLink='/request/detail/{{request.id}}'>
                    <img width='20' height='20' src='assets/details.png' title='Request Details'>
                </a>&nbsp;
                <a *ngIf='loggedInUser.admin || request.user.id == loggedInUser.id' routerLink='/request/edit/{{request.id}}'>
                    <img width='20' height='20' src='assets/pencil-icon.png' title='Edit Request'>
                </a>&nbsp;
                <a routerLink='/request/lines/{{request.id}}'>
                    <img width='20' height='20' src='assets/lines.png' title='Add Line Items'>
                </a>
            </td>
        </tr>
    </tbody>
</table>